@model Ums.Entities.Course

@{
    ViewBag.SubTitle = "Details";
}

@section PageNav
{
<nav class="navbar navbar-expand-sm bg-primary">
    <a href="@Url.Action("Index")" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-list"></i>
        </span>
        <span class="text">View List</span>
    </a>
    <a href="@Url.Action("Create")" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
        </span>
        <span class="text">Create New</span>
    </a>
    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary btn-icon-split">
        <span class="icon text-white">
            <i class="fas fa-edit"></i>
        </span>
        <span class="text">Edit</span>
    </a>
    <a href="@Url.Action("Delete", new { id = Model.Id })" class="btn btn-primary btn-icon-split">
        <span class="icon text-danger">
            <i class="fas fa-trash"></i>
        </span>
        <span class="text">Delete</span>
    </a>
</nav>
    <br />
    @Html.Raw(TempData["AlertMessage"])
}

    <dl class="dl-horizontal">
        <dt>
            Code
        </dt>

        <dd>
            @Model.Code
        </dd>

        <dt>
            Name
        </dt>

        <dd>
            @Model.Name
        </dd>

        <dt>
            Credit
        </dt>

        <dd>
            @Model.Credit
        </dd>

        <dt>
            Department
        </dt>

        <dd>
            <a href="@Url.Action("Details", "Department", new { id = Model.Department.Id })" class="btn-link" title="Department">
                @Model.Department.Name
            </a>
        </dd>
    </dl>