@{
    Layout = "~/Views/Shared/_LayoutPrivate.cshtml";
}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@ViewBag.Title</h1>
</div>
@RenderSection("PageNav", false)
<!-- End of Page Heading -->
<!-- Page Body -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.SubTitle</h6>
    </div>
    <div class="card-body">
        @RenderBody()
    </div>
</div>
<!-- End of Page Body -->

@section PageLevelStyles{
    @RenderSection("PageLevelStyles", false)
}

@section PageLevelScripts{
    @RenderSection("PageLevelScripts", false)
}